<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <title>Simple 404 error page - 404Pagefree.com</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> 
  <link href="{{url_for('static',filename='style.css')}}" type="text/css" rel="stylesheet" media="all" /> 
 </head> 
 <body> 
  <div class="container bootstrap snippet"> 
   <div class="row"> 
    <div class="col-md-12"> 
     <div class="pull-right" style="margin-top:10px;"> 
      <div class="col-md-10 col-md-offset-1 pull-right"> 
       <img class="img-error" src="{{url_for('static',filename='i.png')}}" /> 
       <h2>404 Not Found</h2> 
       <p>Sorry, an error has occured, Requested page not found!</p> 
       <div class="error-actions"> 
        <a href="{{ url_for("home") }}" class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-arrow-left"></span> Back Home </a> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
 </body>
</html>